@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color: #CB3DFE;
$font-stack: 'Montserrat', sans-serif;

// Reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Main Styling
html,
body {
	font-family: $font-stack;
	background: url('/images/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.8rem;
	font-weight: 300;
	padding: 15px 0;
}

h4 {
	font-size: 1.5rem;
}

h1 span {
	font-weight: 300;
}

h1,
h2 {
	text-transform: uppercase;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.9em;
}

// Utility Classes
.container {
	margin: auto;
	max-width: 1300px;
	padding: 0 20px;
}

.large {
	font-size: 18px;
}

.btn {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	padding: 12px 23px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 20px;
	color: #fff;
	border: none;
	background: $primary-color;
} //End .btn

form {
	label {
		display: inline-block;
		margin-bottom: 6px;
	}
	.form-group {
		margin-bottom: 16px;
	}
	.form-control {
		display: block;
		width: 100%;
		padding: 7px 12px;
		line-height: 1.5;
		font-size: 1rem;
		background-color: #fff;
		border: 1px solid #000;
		border-top: none;
		border-left: none;
		border-right: none;
	}
} //End form

// Nav
#navbar {
	padding-top: 80px;
} //End #navbar

// Showcase
#showcase {
	padding: 50px;
	.container {
		display: flex;
		.showcase-text {
			flex: 2;
			padding-top: 80px;
			h1,
			p {
				padding-right: 80px;
			}
		}
		.showcase-form {
			flex: 1;
			background: #fff;
			color: #000;
			border-radius: 20px;
			h4 {
				text-align: center;
				padding-top: 70px;
			}
			form {
				padding: 50px 60px;
			}
			button {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
} //End #showcase

// Footer
#mainfooter {
	text-align: center;
	padding: 30px;
}

@import 'mobile';
